<div *ngIf="!isLoggedIn" id="login-box">
    <div class="left">
            <h1>Log in</h1>
            <input type="text" class="email" placeholder="E-mail" [(ngModel)]="emailLog"/>
            <input type="password" class="password"  placeholder="Password"  [(ngModel)]="psswdLog"/>
            <button class="btn" (click)="logInUser()">Log In</button>
    </div>
    <div class="right">
            <h1>Sign up</h1>
            <input type="text" class="email" placeholder="E-mail" [(ngModel)]="emailSign" />
            <input type="password" class="password" placeholder="Password" [(ngModel)]="psswdSign" />
            <button class="btn" (click)="signUpUser()">Sign Up</button>
    </div>
    <div class="or">OR</div>
</div>
<div *ngIf="isLoggedIn">
        <app-to-do></app-to-do>
</div>
      
